@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .tb-overlay {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
  }

  .bt-overlay {
    background-color: transparent;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
  }

  .bt-overlay-lg {
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 8, 0) 0,
      rgba(0, 0, 8, 0.15) 15%,
      rgba(0, 0, 8, 0.35) 29%,
      rgba(0, 0, 8, 0.58) 44%,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 1)
    );
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
  }

  .lr-overlay {
    background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
  }
}

@media print {
  nav > div,
  footer {
    display: none !important;
  }
}
